<div id="bg">
  <%= image_tag('crowd_photo.jpg') %>
</div>
<div id="text-wrapper">
  <h1>Give this URL to your friend: </h1>

  <p style="color: #00e6de; font-size: 25px"><%= "#{request.base_url}/games/#{@game.guest_player_slug}" %></p>

  <p id="startGameLink"><%= link_to "Now start game!", game_path(@game) %></p>
</div>
