body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}
input {
    border: none;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0;
    width: 300px;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}
#top-panel{
    flex: 4;
    flex-direction: row;
    display:flex;
}
#left-panel{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #ff6f64;
    background-image: image-url('crowd_photo.jpg');
    background-size: cover;
}
#your-artist-box {
    width: 120px;
    height: 160px;
}
#your-artist-image {
    height: 120px;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    overflow:hidden;
}
#your-artist-name {
    height: 80px;
    text-align: center;
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
}
#your-artist-name p {
    margin: 0;
    font-size: 30px;
    color: #ff6f64;
}
#play-btn {
    height:120px;
    background-position: center;
    background-size: cover;
}
#play-btn.paused:hover{
    background-image: image-url('btn-play.png');
}
#play-btn.playing{
    background-image: image-url('btn-pause.png');
}
#right-panel {
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: #a6a6a6;
}
#right-panel-top {
    display:flex;
    flex: 1;
    padding-left: 10px;
}
#right-panel-center {
    display:flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    flex-direction: column;
}
#question-input-wrapper {
    flex-direction: row;
    display: flex;
}
#new-game-input-wrapper {
    display: flex;
    flex-direction: row;
}
.hidden {
    display: none;
}
#right-panel-bottom {
    display:flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
#right-panel-bottom div {
    width: 100px;
    display: flex;
    font-size: 20px;
    background-color: #505151;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: #fafafa;
}
.selected {
    background-color: green!important;
}
.btn {
    background-color: #505151;
    color: #fafafa;
    width: 100px;
    margin-left: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
#right-panel-bottom div:hover {
    background-color: #305151;
}
#bottom-panel {
    flex: 5;
    display: flex;
    background-color: #f2f2f2;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.artist-marker {
    width: 80px;
    height: 130px;
    margin: 10px;
    margin-bottom: 0px;
}
.artist-marker-image {
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
}
.artist-marker p {
    margin: 0;
    text-align: center;
}
.artist-card {
    width: 80px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.artist-container {
    display: flex;
    align-items: center;
}
#lie-popup {
    width: 26vw;
    height: 50vh;
    position: absolute;
    left: 37vw;
    top: 25vh;
    background: #fafafa;
    border-radius: 10px;
    font-size: 24px;
    display: none;
    overflow:hidden;
}
#lie-popup-inner {
    width: 26vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
}
#lie-popup-inner p {
    margin-top: 0;
}
#sad-icon {
    background-image: image-url('sad.png');
    width:15vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 15vw;
}
.flip-container {
    perspective: 1000px;
}
/* flip the pane when tapped */
.flip-container.flipped .flipper {
    transform: rotateY(180deg);
}
/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
/*                background-color: #505151;*/
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.toggle-trivia {
    cursor: pointer;
    text-align: center;
    color: #f2f2f2;
}

#your-artist-trivia {
    padding: 0 30px;
    color: #f2f2f2;
}

#your-artist-trivia a {
    color: lighten(#f2f2f2, 20%);
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  display: none;
}

.spinner > div {
  background-color: #ff6f64;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
